.about {
    margin-top: 50px;
    &__title {
        font-size: 35px;
        font-weight: 800;
        color: #000;
    }
    &__text {
        font-size: 15px;
        color: #777777;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    &__container {
        display: flex;
    }
    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__photo {
        padding: 10px;

        border: 1px solid #b4b4b4;

        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__descr {
        font-size: 16px;
        color: #777777;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;

        width: 100%;
        margin-right: 30px;
    }
    &__list {
        margin-top: 50px;
        
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        li {
            font-size: 14px;
            color: #333;

            padding: 20px 20px;

            border-bottom: 1px solid #e0e0e0;
        }
        span {
            display: inline-block;

            min-width: 125px;
        }
    }
}