.contacts {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    &__contacts-wrap {
        width: 50%;
        padding-top: 50px;

        box-shadow: 0 0 5px rgb(139, 139, 139);
    }
    &__contacts {
        display: flex;
        align-items: center;
        color: #333;

        padding: 0 50px 50px;
        .fa {
            font-size: 30px;
        }
        p {
            margin-left: 30px;
        }
        span {
            display: block;

            font-weight: 600;

            margin-bottom: 10px;
        }
    }
}