.footer {
    background-color: #263238;
    padding: 50px 0;
    &__networks {
        display: flex;
        justify-content: center;
        li {
            width: 35px;
            height: 35px;
            margin: 0 5px;
            
            border: 1px solid;
            border-color: rgba(255, 255, 255, .2);
            border-radius: 3px;
            transition: .3s;
            &:hover {
                border-color: #fff;
            }
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 35px;
            height: 35px;

            // color: rgba(255, 255, 255, .2);
            opacity: .5;
            text-decoration: none;
            transition: .3s;
            &:hover {
                opacity: 1;
            }
        }
        img {
            width: 50%;
        }
    }
    p {
        font-size: 14px;
        text-align: center;
        color: #fff;

        margin-top: 20px;
    }
}