.portfolio {
    padding: 50px 0;

    background-color: #fff;
    &__title {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    &__sub-title {
        display: block;

        font-size: 16px;
        text-align: center;
        color: #929292;

        margin-top: 10px;
    }
    &__galery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        margin-top: 50px;
    }
    &__wrap-item {
        width: 350px;
        height: 350px;
        margin: 25px 5px 0;

        border: 1px rgb(180, 180, 180) solid;
        overflow: hidden;
    }
    &__item {
        width: 100%;
        height: 100%;

        transition: .3s;
        position: relative;
        box-sizing: border-box;
        img {
            width: 100%;
            min-height: 100%;
        }
    }
    &__item:hover &__descr-wrap {
        display: block;

        width: 100%;
        height: 100%;

        background: rgba(15, 15, 15, 0.753);

        position: absolute;
        top: 0;
        transition: .5s;
    }
    &__item:hover &__galery-descr {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;

        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &::before,
        &::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }
    
        // Set up base styles, we're going to scale instead of animating width/height
        &::before,
        &::after {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform-origin: center; // Ensure scaling is done from the center (expands outwards)
        }
    
        // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
        &::before {
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: scale3d(0,1,1); // Shrink only width
        }
    
        &::after {
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: scale3d(1,0,1); // Shrink only height
        }
    
        &:hover::before,
        &:hover::after {
            transform: scale3d(1,1,1); // Show full-size
            transition: transform 0.5s;
        }
    }
}