.manufacturers {
    margin: 20px 0 85px 0;
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 220px;
        height: 145px;
        margin-top: 20px;

        border: 1px solid #EAEAEA;
        &:hover {
            box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
            transition: .3s;
        }
        &:active {
            box-shadow: 0px 4px 10px rgba(41, 52, 73, 0.5);
            opacity: .3;
        }
    }
}
.section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 28px 30px;

    background: #F2F2F2;
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        text-transform: uppercase;
        color: #32425C;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;

        width: 253px;
        height: 38px;

        background: #EE3643;
        border-radius: 5px;
    }
}